<div class="slider">
	<div id="slides" class="slider__viewport">
		<div id="slide_1" class="slider__item">
			<img srcset="img/2=3.webp" class="slider__img" src="img/2=3.jpg" alt="2=3">
		</div>
		<div id="slide_2" class="slider__item">
			<img srcset="img/2=3.webp" class="slider__img" src="img/2=3.jpg" alt="2=3">
		</div>
		<div id="slide_3" class="slider__item">
			<img srcset="img/2=3.webp" class="slider__img" src="img/2=3.jpg" alt="2=3">
		</div>
	</div>
	<button onclick="clickWatch()" type="submit" class="slider__button slider__button--right">
		<div class="button__chevron-mask">
			{% include "assets/svg/chevron.svg" %}
		</div>
	</button>
	<button onclick="clickWatch()" type="submit" class="slider__button slider__button--left">
		<div class="button__chevron-mask button__chevron-mask--left">
			{% include "assets/svg/chevron.svg" %}
		</div>
	</button>
	<ul class="slider__dot-list">
		<li class="slider__dot"></li>
		<li class="slider__dot"></li>
		<li class="slider__dot"></li>
	</ul>
</div>