/* mixins */
@import 'base/mixins.scss';

/* base */
@import 'base/fonts';
@import 'base/variables';
@import 'base/normalize';
@import 'base/typography';
@import 'base/default';

/* blocks */
@import '../../blocks/header/header-desk';
@import '../../blocks/header/header-mob';
@import '../../blocks/contacts/contacts';
@import '../../blocks/logo/logo';
@import '../../blocks/search-form/search-form';
@import '../../blocks/profile/profile';
@import '../../blocks/top-section/top-section';
@import '../../blocks/slider/slider';
@import '../../blocks/footer/footer';
@import '../../blocks/send-form/send-form';
@import '../../blocks/socials/socials';
@import '../../blocks/spoiler/spoiler';

/* pages */
/* @import 'index'; */


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html
{
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	-webkit-font-smoothing: antialiased;
}
