.g-button, input.g-button
{
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	background: #FF7A00;
	padding: 10px 25px;
	border:0px;
	cursor: pointer;
	border-radius: 0 5px 5px 0 ;

	&:hover{background-color: rgba(103, 115, 135, 0.7);}
}