.top-section
{
	margin-bottom: 30px;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(3, minmax(300px, 1fr));
	grid-template-rows: minmax(auto, 350px) minmax(auto, 140px);

	@media (max-width: $mobile)
	{
		margin-bottom: 10px;
		grid-gap: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: 175px 464px 140px 140px;

	}
}

.top-section__slider
{
	grid-column: 1/3;
	border-radius: 5px;
	overflow: hidden;

	@media (max-width: $mobile)
	{
		grid-column: 1;	
	}
}

.top-section__day-book
{
	grid-row: 1/3;
	border-radius: 5px;
	overflow: hidden;

	@media (max-width: $mobile)
	{
		grid-row: 2;	
	}
}




// PROMO-CARDS
.promo-card
{
	padding: 20px 25px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;

	font-family: 'Gosha Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
}
.card__shipping
{
	grid-column: 1;
	grid-row: 2;

	background-color: #6D378F;
	color: #FFFFFF;

	@media (max-width: $mobile)
	{
		grid-row: unset;
		grid-column: unset;	
	}

	& svg
	{
		position: absolute;
		top: 34px;
		left: 12px;
	}
}
.card__sign-up
{
	grid-column: 2;
	grid-row: 2;

	background-color: #FFD8EF;
	color: #494C6D;

	@media (max-width: $mobile)
	{
		grid-row: unset;
		grid-column: unset;	
	}

	& svg
	{
		position: absolute;
		top: 84px;
		left: 48px;
	}
}
.promo-card__content
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 1;
}