<div class="top-section">

	<div class="top-section__slider">
		{% include "blocks/slider/slider.twig" %}
	</div>

	<div class="top-section__day-book">
		{% include "blocks/card-book/card-book.twig" with {'cardModifier': 'card--daybook', 'cardTitle': 'Книга дня', 'cardTimer': '08:56:31', 'img': '/img/oleg_roy.jpg', 'category': 'Копоративное право', 'bookTitle': 'Инвестирование: способы, риски, субъекты : монография', 'author': 'Майфат А.В.', 'bookPrice': '4 450 ₽'} %}
	</div>

	<div class="promo-card card__shipping">
		{% include "assets/svg/wave_big_orange.svg" %}
		<div class="promo-card__content">
			<div class="promo-card__text">
				Бесплатно доставим ваш заказ при покупке от 2000 ₽
			</div>
			<div class="promo-card__img">
				<img src="img/shipping_img.png" alt="Бесплатная доставка">
			</div>
		</div>
	</div>
	<div class="promo-card card__sign-up">
		{% include "assets/svg/wave_green.svg" %}
		<div class="promo-card__content">
			<div class="promo-card__text">
				Скидка<br> при регистрации<br> до 15%
			</div>
			<div class="promo-card__img">
				<img src="img/sign-up_img.png" alt="Бесплатная доставка">
			</div>
		</div>
	</div>
</div>