@import url('./styles/normalize.css');

* {box-sizing: border-box;}

html 
{
	font-family: 'Open Sans';
	line-height: 100%;
	color: #1D1D1B;
}

a
{
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-family: inherit;
	color: inherit;
	text-decoration: none;
}

ul 
{
	list-style-type: none;
	padding-inline-start: 0;
	display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.hidden {display: none;}

.upper-rect-decor
{
	width: 100%;
	height: 36px;
	background-color: #F8F8F8;
	position: absolute;
	z-index: -1;
}

.container
{
	max-width: 1160px;
	padding: 0 20px;
	width: 100%;
	margin: 0 auto;
}

.header__top
{
	margin-bottom: 34px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
	font-size: 12px;
}

.header__top-leftside
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 544px;
	width: 100%;
}

.location__link
{
	display: flex;
	align-items: center;
}

.location__link svg {margin-right: 8px;}

.header__top-midside
{
	max-width: 352px;
	width: 100%;
	height: 36px;
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.header__top-list
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dropdown-link svg {margin-left: 8px;}

.header__top-phone{padding-right: 21px;}

.phone-number{color: #696969;}

.header__middle
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	margin-bottom: 28px;
}

.header__middle-logo
{
	margin-right: 56px;
	padding-top: 8px;
}

.header__middle-search {margin-right: 46px;}
.search-form {position: relative;}
.search-input
{
	width: 412px;
	height: 48px;
	margin: 0 0;
	padding: 17px 16px;

	font-family: inherit;
	font-size: 14px;
	line-height: 100%;
	font-weight: 400;
	color: #000000;

	border-color: #D4D4D4;
	border: 1px solid #D5D5D5;
	border-right: none;
	border-radius: 3px;
}
.search-input::placeholder {opacity: 0.4;}
.search-button
{
	width: 56px;
	height: 48px;
	padding: 12px 16px;
	background: #E0001B;
	
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid #E0001B;
	border-left: none;
	border-radius: 0 3px 3px 0;
	position: absolute;
	top: 0;
	right: 0;
}

.header__middle-rightside
{
	max-width: 470px;
	width: 100%;
}
.header__middle-rightside-list
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__middle-rightside-list-item:last-child .header__middle-rightside-link
{
	padding-right: 0;
}
.header__middle-rightside-link
{
	border-radius: 3px;
	padding: 12px 16px;
	font-weight: 600;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__middle-rightside-link > * + * {margin-left: 15px;}
.header__middle-rightside-link:hover
{
	background-color: #f6f6f6;
	transition: 0.4 ease-in-out;
}
.header__middle-rightside-link-count
{
	padding: 3px;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background-color: #E0001B;
	
	font-family: inherit;
	font-weight: 600;
	font-size: 12px;
	line-height: 100%;
	text-align: center;
	letter-spacing: 0.05em;

	color: #ffffff;
}



.header__bottom-wrapper{
	height: 48px;
	width: 100%;
	max-width: 1120px;
	border-radius: 3px;
	background-color: #fafafa;
	overflow: hidden;
}
.header__bottom-list
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header__bottom-list-item
{
	height: 48px;
	font-size: 14px;
	font-weight: 400;

}

.header__bottom-list-item.accent-red
{
	background-color: #E0001B;
	color: #ffffff;
	font-weight: 600;
	font-size: 16px;
}

.header__bottom-list-item.accent-red span {margin-left: 16px;}

.header__bottom-list-item.accent-red .header__bottom-list-link {padding: 17px 21px 17px 16px;}

.header__bottom-list-item.accent-red-text
{
	font-weight: 600;
	color: #E0001B;
}
.header__bottom-list-link
{
	padding: 17px 8px 17px 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: 100%;
	color: inherit;
}
.header__bottom-list-link span {margin-left: 8px;}

.header__bottom-list-link:hover
{
	background-color: #f6f6f6;
	transition: 0.4 ease-in-out;
}