<div class="profile">
	<ul class="profile__links">
		<li class="profile__links-item">
			<a href="#" class="profile__link">
				{% include '/assets/svg/bookmark.svg' %}
				<span>Отложено</span>
			</a>
		</li>
		<li class="profile__links-item">
			<a href="#" class="profile__link">
				{% include '/assets/svg/smile.svg' %}
				<span>Войти</span>
			</a>
		</li>
		<li class="profile__links-item">
			<a href="#" class="profile__link profile__link--count">
				{% include '/assets/svg/cart.svg' %}
				<span>Корзина</span>
			</a>
		</li>
	</ul>
</div>