body{background-color: #F9F9FA;}

.container
{
	max-width: $widescreen;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding: 0 20px;

	@media (max-width: $mobile)
	{
		padding: 0 10px;	
	}
}