.subscribe
{
	margin-bottom: 30px;
	width: 100%;

	border-radius: 5px;
	overflow: hidden;
	@media (max-width: $mobile){margin-bottom: 10px;}
}
.subscribe__wrapper
{
	display: flex;
	align-items: center;
	background-color: #0288D1;
	padding: 32px 45px 33px;

	@media (max-width: $mobile)
	{
		padding: 20px 10px;
		flex-direction: column;
	}
}
.subscribe__text
{
	margin-right: 14px;
	position: relative;
	
	@media (max-width: $mobile) {margin: 0 0 10px 0;}
	p 
	{
		position: relative;
		z-index: 1;
		font-family: $accent-font;
		font-weight: $medium;
		font-size: 18px;
		line-height: 25px;
		color: #FFFFFF;
	}

	 .wave-short-orange-icon
	{
		position: absolute;
		top: 0;
		left: 58px;
	}
}
.subscribe__form
{
	display: flex;
	width: 100%;
	max-width: 565px;

	@media (max-width: $mobile)
	{
		flex-direction: column;
		max-width: unset;
		align-items: center;
	}
}
.subscribe__input
{
	width: 100%;
	max-width: 418px;
	margin-right: 10px;
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
	background-color: #fff;

	font-family: $accent-font;
	font-weight: $regular;
	font-size: 14px;
	line-height: 20px;
	color: $textColor;

	&::placeholder
	{
		font-family: inherit;
		font-weight: $regular;
		font-size: 14px;
		line-height: 20px;
		color: rgba(28, 41, 77, 0.5);
	}

	@media (max-width: $mobile)
	{
		max-width: unset;
		margin: 0 0 10px 0;
	}
}
.subscribe__button
{
	padding: 10px 25px;
	border: 1px solid #ffffff;
	border-radius: 5px;
	background-color: #0288D1;

	font-family: $accent-font;
	font-weight: $medium;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	@media (max-width: $mobile)
	{
		width: 100%;
	}
}