<div class="subscribe__wrapper">
	<div class="subscribe__text">
		{% include "assets/svg/wave_short_orange.svg" %}
		<p>Скидка 200 ₽ при подписке на рассылку Издательства</p>
	</div>
	<form action="send" class="subscribe__form">
		<input type="text" class="subscribe__input" placeholder="Введите ваш Email">
		<button class="subscribe__button">Подписаться</button>
	</form>
</div>