<div class="socials">
	<a href="#" class="socials__link">
		{% include '/assets/svg/Facebook.svg' %}
	</a>
	<a href="#" class="socials__link">
		{% include '/assets/svg/Instagram.svg' %}
	</a>
	<a href="#" class="socials__link">
		{% include '/assets/svg/Twitter.svg' %}
	</a>
</div>