<form action="submit" class="send-form">
	<input type="text" class="send-form__input" placeholder="Введите свой Email и получите скидку">
	<button type="submit" class="send-form__button">
		{% include '/assets/svg/send.svg' %}
	</button>
</form>