<div class="services__card">
	<img src="img/{{imgFile}}" alt="{{imgAlt}}" class="services__img">
	<div class="services__text-wrapper">
		<p class="services__title">{{serviceCardTitle}}</p>
		<p class="services__text">{{serviceCardText}}</p>
	</div>
</div>