<div class="logo">
	<a href="#" class="logo__link">
		<picture>
			<source srcset="img/logostatut.webp" type="image/webp">
			<img class="logo__img" src="img/logostatut.png" alt="Logo" width="57px">
		</picture>
	</a>
</div>