<ul class="contacts-list">
	<li class="contacts-list__item">
		<a href="mailto:market@estatut.ru" class="contacts-list__link">
			{% include '/assets/svg/mail.svg' %}
			<span>market@estatut.ru</span>
		</a>
	</li>

	<li class="contacts-list__item">
		<a href="callto:+79686606550" class="contacts-list__link">
			{% include '/assets/svg/phone.svg' %}
			<span>8 (968) 660-65-50</span>
		</a>
		<span data-tooltip="какой-то инфо-текст" class="contacts-list__link-info">
			{% include '/assets/svg/info.svg' %}
		</span>
	</li>
</ul>