<div class = "{{class}}">
	<div class="contacts__item contacts__email">
		<a href="mailto:market@estatut.ru" class="contacts__link">
			{% include '/assets/svg/mail.svg' %}
			<span>market@estatut.ru</span>
		</a>
	</div>
	<div class="contacts__item contacts__phone">
		<a href="call:+79686606550" class="contacts__link">
			{% include '/assets/svg/phone.svg' %}
			<span>8 (968) 660-65-50</span>
		</a>
		<span data-tooltip="какой-то инфо-текст" class="contacts__link-info">
			{% include '/assets/svg/info.svg' %}
		</span>
	</div>
</div>