<div class="promocard {{cardModifier}}">
	<div class="promocard__text">
		{% include "assets/svg/" ~ cardSvg ~ ".svg" %}
		{{cardText}}
	</div>
	<div class="promocard__img">
		<img src="{{img}}" alt="{{imgAlt}}">
	</div>
</div>
