.promo-card
{
	padding: 32px 25px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}
.promo-card--shipping
{
	background-color: #6D378F;
	color: #FFFFFF;
}
.promo-card--sign-up
{
	background-color: #FFD8EF;
	color: #494C6D;
}

.promo-card__text
{
	position: relative;
	z-index: 1;
	text-align: left;
	font-family: 'Gosha Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	color: inherit;
	@media (max-width: $widescreen) {font-size: 18px;}
	@media (max-width: $desktop)
	{
		line-height: 22px;
		font-size: 16px;
	}
	.wave-big-orange-icon
	{
		position: absolute;
		z-index: -1;
		top: -3px;
		left: -9px;
	}
	.wave-green-icon
	{
		position: absolute;
		z-index: -1;
		bottom: -1px;
		left: 20px;
	}
}
.promo-card__img
{
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
}