<div class="promo-card {{cardModifier}}">
	<div class="promo-card__text">
		{% include "assets/svg/" ~ cardSvg ~ ".svg" %}
		{{cardText}}
	</div>
	<div class="promo-card__img">
		<img src="{{img}}" alt="{{imgAlt}}">
	</div>
</div>
