{% extends "layouts/layout.twig" %}

{% block page %}
	<div class="container">
		{% include "blocks/top-section/top-section.twig" %}

		<div class="new-books">
			{% include "blocks/carousel/carousel.twig" with {'carouselTitle': 'Новые поступления'} %}
		</div>

	</div>


	{#
		Пример подключения файла
		{% include '/blocks/component/component.twig' %}
		Пример подключения svg
		{% include '/assets/component/component.svg' %}
	#}
{% endblock %}
