{% extends "layouts/layout.twig" %}

{% block page %}
	<div class="container">
	
	</div>

	{#
		Пример подключения файла
		{% include '/blocks/component/component.twig' %}
		Пример подключения svg
		{% include '/assets/component/component.svg' %}
	#}
{% endblock %}
