// spoiler styles
.spoiler
{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 750px;
	margin: 0 30px 0 0;
	@media (max-width:768px)
	{
		flex-direction: column;
		& > *
		{
			padding: 0 10px;
			margin-right: unset;
		};
	};
};
.spoiler__item
{
	width: 100%;
	max-width: 165px;
	margin-right: 30px;
	@media (max-width:768px)
	{
		max-width: unset;
		border-bottom: 1px solid rgba(42, 61, 72, 0.15);
	};
};
.spoiler__item:last-child
{
	margin-right: 0;
	min-width: 170px;
	@media (max-width:768px)
	{
		min-width: unset;
		border-bottom: none;
	};
};


.spoiler__item-title
{
	margin-bottom: 24px;
	font-weight: $medium;
	line-height: 20px;
	color: $textColor;
	@media (max-width:768px)
	{
		margin-bottom: 0;
		padding: 20px 0;
		position: relative;
		font-weight: $mainFontWeight;
		font-size: 16px;
		&::after
		{
			content: url('../svg/chevron.svg');
			position: absolute;
			top: 50%;
			right: 0;
			width: 20px;
			height: 20px;
			transform: translateY(-50%) rotate(90deg);
		}
	}
}
.spoiler__list
{
	line-height: 20px;
	@media (max-width:768px) {display: none;};
	& > * + * {margin-top: 15px;}
}
.spoiler__link
{
	display: flex;
	align-items: center;
	& svg {flex-shrink: 0;}
}
.spoiler__link-download
{
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}
.spoiler__link-download-subtext
{
	font-size: 12px;
	line-height: 15px;
	color: rgba(40, 47, 54, 0.5);
}
