<div class="footer-mid__spoiler-block-wrapper">
	<div class="spoiler__item">
		<div class="spoiler__item-title">
			Покупателям
		</div>
		<ul class="spoiler__list">
			<li class="spoiler__list-item">
				<a href="#" class="spoiler__list-item-link">
					Наша почта
				</a>
			</li>
			<li class="spoiler__list-item">
				<a href="#" class="spoiler__list-item-link">
					Оплата и доставка
				</a>
			</li>
			<li class="spoiler__list-item">
				<a href="#" class="spoiler__list-item-link">
					Вопросы и ответы
				</a>
			</li>
		</ul>
	</div>
	<div class="spoiler__item">
		<div class="spoiler__item-title">
			Издательство
		</div>
		<ul class="spoiler__list">
			<li class="spoiler__list-item">
				<a href="#" class="spoiler__list-item-link">
					О компании
				</a>
			</li>
			<li class="spoiler__list-item">
				<a href="#" class="spoiler__list-item-link">
					Авторам
				</a>
			</li>
			<li class="spoiler__list-item">
				<a href="#" class="spoiler__list-item-link">
					Вакансии
				</a>
			</li>
			<li class="spoiler__list-item">
				<a href="#" class="spoiler__list-item-link">
					Контакты
				</a>
			</li>
		</ul>
	</div>
	<div class="spoiler__item">
		<div class="spoiler__item-title">
			Книги
		</div>
		<ul class="spoiler__list">
			<li class="spoiler__list-item">
				<a href="#" class="spoiler__list-item-link">
					Все категории
				</a>
			</li>
			<li class="spoiler__list-item">
				<a href="#" class="spoiler__list-item-link">
					Бестселлеры
				</a>
			</li>
			<li class="spoiler__list-item">
				<a href="#" class="spoiler__list-item-link">
					Новинки
				</a>
			</li>
			<li class="spoiler__list-item">
				<a href="#" class="spoiler__list-item-link">
					Скидки и акции
				</a>
			</li>
		</ul>
	</div>
	<div class="spoiler__item">
		<div class="spoiler__item-title">
			Прайс-лист
		</div>
		<ul class="spoiler__list spoiler__list--download-link">
			<li class="spoiler__list-item">
				<a href="#" class="spoiler__list-item-link">
					{% include "/assets/svg/File.svg" %}
					<div class="link-download__wrapper">
						<span>Скачать прайс-лист</span>
						<span class="link-download__wrapper-subtext">PDF, 12 Mb </span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
