.news
{
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #fff;
	@media (max-width: $mobile){margin-bottom: 20px;}
}
.news__header
{
	padding: 16px 25px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(28, 41, 77, 0.15);
	@media (max-width: $mobile){padding: 17px 10px;}
}
.news__title
{
	margin: 0;
	font-family: $accent-font;
	font-weight: $bold;
	font-size: 20px;
	line-height: 25px;
	color: $textColor;
}
.news__buttons
{
	width: 61px;
	height: 30px;
	display: flex;
	align-items: center;
	border: 1px solid rgba(28, 41, 77, 0.15);
	border-radius: 5px;
}
.news__button
{
	width: 30px;
	height: 30px;
	padding: 10px;

	display: flex;
	align-items: center;
	justify-content: start;

	outline: none;
	border: none;

	.chevron-icon
	{
		width: 10px;
		height: 10px;
	}
}
.news__button--left
{
	border-right: 1px solid rgba(28, 41, 77, 0.15);
	.chevron-icon
	{
		opacity: 0.5;
		transform: rotate(180deg);
	}
}


// Cards-block
.news__cards-wrapper {overflow: hidden;}
.news__cards-list
{
	display: flex;

	& > * + * {border-left:  1px solid rgba(28, 41, 77, 0.15);}
}
.news__cards-list-item
{
	padding: 0 15px;

	&:nth-child(1){padding: 0 14px 0 0;}
	&:last-child{padding: 0 0 0 14px;}
}

.news__bottom
{
	padding: 10px 0;
	text-align: center;
	border-top:  1px solid rgba(28, 41, 77, 0.15);
	display: none;

	@media (max-width: $mobile){display: block;}
}
.news__bottom-link
{
	font-family: $accent-font;
	font-weight: $medium;
	font-size: 14px;
	line-height: 20px;
	color: $textColor;
}