<form action="" class="search-form">
	<input type="search" class="search-form__input" placeholder="Автор, название, ISBN">
	<button class="search-form__button">
		{% include '/assets/svg/search.svg' %}
		<span>Искать</span>
	</button>
</form>