<header class="header">

	<div class="header__desktop">
		<div class="decor-line"></div>
		<div class="container">

			<div class="header__top">
				<ul class="header__top-leftside">
					<li>
						<a href="#" class="header__top-leftside-link">
							{% include '/assets/svg/geo.svg' %}
							<span>Москва</span>
						</a>
					</li>
					<li>
						<a href="#" class="header__top-leftside-link">
							{% include '/assets/svg/shipping.svg' %}
							<span>Доставка и оплата</span>
						</a>
					</li>
					<li>
						<a href="#" class="header__top-leftside-link">
							{% include '/assets/svg/adress.svg' %}
							<span>Адрес и часы работы</span>
						</a>
					</li>
				</ul>
				<ul class="header__top-rightside">
					<li>
						<a href="mailto:market@estatut.ru" class="header__top-rightside-link">
							{% include '/assets/svg/mail.svg' %}
							<span>market@estatut.ru</span>
						</a>
					</li>
					<li>
						<a href="call:+79686606550" class="header__top-rightside-link">
							{% include '/assets/svg/phone.svg' %}
							<span>8 (968) 660-65-50</span>
						</a>
					</li>
					<li>
						<a href="#" id="info-icon" class="header__top-rightside-link">
							{% include '/assets/svg/info.svg' %}
						</a>
					</li>
				</ul>
			</div>

			<div class="header__mid">
				
				<div class="header__mid-leftside">
					<div class="header__mid-logo">
						<div class="logo">
							<a href="#" class="logo__link">
								<div class="logo__img-wrap">
									<picture>
										<source srcset="img/logostatut.webp" type="image/webp">
										<img src="img/logostatut.png" alt="Logo" width="57px">
									</picture>
								</div>
							</a>
						</div>
					</div>
					<form action="" class="search-form">
						<input type="text" class="input-search" placeholder="Автор, название, ISBN">
						<button class="button-search">
							{% include '/assets/svg/search.svg' %}
							<span>Искать</span>
						</button>
					</form>
				</div>
				
				<ul class="header__mid-rightside">
					<li>
						<a href="#" class="header__mid-rightside-link">
							{% include '/assets/svg/bookmark.svg' %}
							<span>Отложено</span>
						</a>
					</li>
					<li>
						<a href="#" class="header__mid-rightside-link">
							{% include '/assets/svg/smile.svg' %}
							<span>Войти</span>
						</a>
					</li>
					<li>
						<a href="#" class="header__mid-rightside-link header__mid-rightside-link--count">
							{% include '/assets/svg/cart.svg' %}
							<span>Корзина</span>
						</a>
					</li>
				</ul>

			</div>

			<div class="header__bottom">
				<ul class="header__bottom-list">
					<li>
						<a href="#" class="header__bottom-link">
							{% include '/assets/svg/burger.svg' %}
							<span>Каталог</span>
						</a>
					</li>
					<li>
						<a href="#" class="header__bottom-link">
							<span>Авторы</span>
						</a>
					</li>
					<li>
						<a href="#" class="header__bottom-link">
							<span>Новинки</span>
						</a>
					</li>
					<li>
						<a href="#" class="header__bottom-link header__bottom-link--red-link">
							{% include '/assets/svg/sale.svg' %}
							<span>Скидки</span>
						</a>
					</li>
					<li>
						<a href="#" class="header__bottom-link">
							<span>Партнёрам</span>
						</a>
					</li>
					<li>
						<a href="#" class="header__bottom-link">
							<span>Мы</span>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</div>


	<div class="header__mobile container">

		<div class="header__mobile-burger">
			{% include '/assets/svg/burger.svg' %}				
		</div>

		<div class="header__mobile-logo">
			<div class="logo">
				<a href="#" class="logo__link">
					<div class="logo__img-wrap">
						<picture>
							<source srcset="img/logostatut.webp" type="image/webp">
							<img src="img/logostatut.png" alt="Logo">
						</picture>
					</div>
				</a>
			</div>
		</div>

		<div class="header__mobile-search-form">
			<form action="submit" class="search-form">
				<input type="text" class="search-form__input" placeholder="Что будем искать?">
				<button class="search-form__button">
					{% include '/assets/svg/search.svg' %}
				</button>
			</form>
		</div>


		<div class="header__mobile-cart header__mobile-cart--count">
			{% include '/assets/svg/cart.svg' %}
		</div>

	</div>

</header>
