<header class="header">
	<div class="decor-line"></div>
	<div class="container">


		<div class="header-top">
			<ul class="header-top__links-list">
				<li class="header-top__links-list-item">
					<a href="" class="header-top__links-list-link">
						{% include '/assets/svg/geo.svg' %}
						<span>Москва</span>
					</a>
				</li>
				<li class="header-top__links-list-item">
					<a href="" class="header-top__links-list-link">
						{% include '/assets/svg/shipping.svg' %}
						<span>Доставка и оплата</span>
					</a>
				</li>
				<li class="header-top__links-list-item">
					<a href="" class="header-top__links-list-link">
						{% include '/assets/svg/adress.svg' %}
						<span>Адрес и часы работы</span>
					</a>
				</li>
			</ul>
			<ul class="header-top__contacts-list">
				<li class="header-top__contacts-list-item">
					<a href="mailto:market@estatut.ru" class="header-top__contacts-list-link">
						{% include '/assets/svg/mail.svg' %}
						<span>market@estatut.ru</span>
					</a>
				</li>
				<li class="header-top__contacts-list-item">
					<a href="call:+79686606550" class="header-top__contacts-list-link">
						{% include '/assets/svg/phone.svg' %}
						<span>8 (968) 660-65-50</span>
					</a>
				</li>
				<li class="header-top__contacts-list-item">
					<a href="#" id="header-top__info-icon" class="header-top__contacts-list-link">
						{% include '/assets/svg/info.svg' %}
					</a>
				</li>
			</ul>
		</div>

		<div class="header-mid">
			<div class="header-mid__left-side">
				<div class="header-mid__logo-wrapper">
					<div class="logo">
						<a href="#" class="logo">
							<div class="logo__img-wrap">
								<picture>
									<source srcset="img/logostatut.webp" type="image/webp">
									<img src="img/logostatut.png" alt="Logo" width="57px">
								</picture>
							</div>
						</a>
					</div>
				</div>
				<form action="" class="search-form">
					<input type="text" class="input-search" placeholder="Автор, название, ISBN">
					<button class="button-search">
						{% include '/assets/svg/search.svg' %}
						<span>Искать</span>
					</button>
				</form>
			</div>
			<ul class="header-mid__links-list">
				<li class="header-mid__links-list-item">
					<a href="#" class="header-mid__link">
						{% include '/assets/svg/bookmark.svg' %}
						<span>Отложено</span>
					</a>
				</li>
				<li class="header-mid__links-list">
					<a href="#" class="header-mid__link">
						{% include '/assets/svg/smile.svg' %}
						<span>Войти</span>
					</a>
				</li>
				<li class="header-mid__links-list-item">
					<a href="#" class="header-mid__link header-mid__link--count">
						{% include '/assets/svg/cart.svg' %}
						<span>Корзина</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="header-bottom">
			<ul class="header-bottom__links-list">
				<li class="header-bottom__links-list-item">
					<a href="#" class="header-bottom__link">
						{% include '/assets/svg/burger.svg' %}
						<span>Каталог</span>
					</a>
				</li>
				<li class="header-bottom__links-list-item">
					<a href="#" class="header-bottom__link">
						<span>Авторы</span>
					</a>
				</li>
				<li class="header-bottom__links-list-item">
					<a href="#" class="header-bottom__link">
						<span>Новинки</span>
					</a>
				</li>
				<li class="header-bottom__links-list-item">
					<a href="#" class="header-bottom__link header-bottom__link--link-red">
						{% include '/assets/svg/sale.svg' %}
						<span>Скидки</span>
					</a>
				</li>
				<li class="header-bottom__links-list-item">
					<a href="#" class="header-bottom__link">
						<span>Партнёрам</span>
					</a>
				</li>
				<li class="header-bottom__links-list-item">
					<a href="#" class="header-bottom__link">
						<span>Мы</span>
					</a>
				</li>
				





			</ul>
		</div>

	</div>
</header>
