.header
{
	padding-top: 15px;
	padding-bottom: 20px;
	margin-bottom: 29px;

	width: 100%;
	background-color: #fff;

	font-family: $main-font;
	font-weight: $regular;
	font-size: $mainFontSize;
	line-height: $mainLineHeight;
	color: rgba(28, 41, 77, 0.8);
	@media (max-width: 768px)
	{
		padding-bottom: 15px;
		margin-bottom: 11px;
		border-bottom: 1px solid #ECECEC;
	}
}

.header__top
{
	border-bottom: 1px solid #DFE0E1;
	@media (max-width: 768px)
	{
		display: none;
		border-bottom: none;
	}
}
.header__top-wrapper
{
	padding-bottom: 15px;
	display: flex;
	justify-content: space-between;
}
.header__top-leftside
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	& > * + * {margin-left: 30px;}
}
.header__top-link
{
	display: flex;
	align-items: center;
	& span {margin-left: 5px;}
}

.header__bottom
{
	padding-top: 20px;
	@media (max-width: 768px){display: none;}
}
.header__bottom-wrapper
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 18px;
}
.header__bottom-leftside
{
	width: 100%;
	max-width: 653px;
	margin-right: 30px;
	display: flex;
	justify-content: flex-start;
	&> * + * {margin-left: 30px;}
}
.header__nav
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	& > * + * {margin-left: 25px;}
	@media (max-width: 768px) {display: none;}
}
.header__nav-link
{
	display: flex;
	align-items: center;
	& > * + * {margin-left: 5px;}
}
.header__nav-link--red-link > *
{
	color: $accent-color;
	fill: $accent-color;
}


// Header-Mobile(768px)
.header__mobile
{
	display: none;
	@media (max-width: 768px)
	{
		display: flex;
		align-items: center;
	}
}

.header__mobile-burger {margin-right: 15px;}

.header__mobile-logo {margin-right: 20px;}

.header__mobile-search-form
{
	margin-right: 16px;
	width: 100%;
}
.header__mobile-cart
{
	height: 25px;
	width: 25px;
	position: relative;

	&--count::after
	{
		content: "10";
		position: absolute;
		top: -9px;
		left: 14px;
		width: 20px;
		height: 20px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		background-color: #ff7a00;
		font-family: Roboto,sans-serif;
		font-weight: 500;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
		color: #fff;
	}

	.cart-icon
	{
		width: 25px;
		height: 25px;
		fill: #1C294D;
	}
}