.header
{
	padding-top: 15px;
	padding-bottom: 20px;

	width: 100%;
	background-color: #fff;

	font-family: $accent-font;
	font-weight: $regular;
	font-size: $mainFontSize;
	line-height: $mainLineHeight;
	color: rgba(28, 41, 77, 0.8);

	@media (max-width: 768px) {
		padding-bottom: 15px;
		border-bottom: 1px solid #ECECEC;
	}
}

.header__top
{
	padding-bottom: 15px;

	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #DFE0E1;

	@media (max-width: 768px) {
		display: none;
		border-bottom: none;
	}
}
.header__top-leftside
{
	display: flex;
	align-items: center;
	justify-content: flex-start;

	& > * + * {margin-left: 30px;}
}
.header__top-link
{
	display: flex;
	align-items: center;

	& span {margin-left: 5px;}
}

.header__bottom
{
	padding-top: 20px;
	@media (max-width: 768px) {
		display: none;
	}
}
.header__bottom-wrapper
{
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 20px;
}
.header__bottom-leftside
{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	&> * + * {margin-left: 30px;}
}

.search-form__wrapper
{
	width: 100%;
	max-width: 573px;
}

.header__nav
{
	@media (max-width: 768px) {
		display: none;
	}
}
.header__nav-list
{
	display: flex;
	justify-content: flex-start;
	align-items: center;

	& > * + * {margin-left: 25px;}
}
.header__nav-link 
{
	display: flex;
	align-items: center;

	& > * + * {margin-left: 5px;}
}
.header__nav-link--red-link > *
{
	color: #FF283D;
	fill: #FF283D;
}
