<header class="header">
	<div class="header__top">
		<div class="header__top-wrapper container">
			<div class="header__top-leftside">
				<div class="header__city">
					<a href="#" class="header__top-link">
						{% include '/assets/svg/geo.svg' %}
						<span>Москва</span>
					</a>
				</div>
				<div class="header__shipping">
					<a href="#" class="header__top-link">
						{% include '/assets/svg/shipping.svg' %}
						<span>Доставка и оплата</span>
					</a>
				</div>
				<div class="header__adress">
					<a href="#" class="header__top-link">
						{% include '/assets/svg/adress.svg' %}
						<span>Адрес и часы работы</span>
					</a>
				</div>
			</div>
			<div class="header__top-rightside">
				{% include 'blocks/contacts/contacts.twig' with {'class': "contacts contacts--header"} %}
			</div>
		</div>
	</div>

	<div class="header__bottom container">
		<div class="header__bottom-wrapper">
			<div class="header__bottom-leftside">
				{% include "blocks/logo/logo.twig" %}
				
				<div class="search-form__wrapper">
					{% include "blocks/search-form/search-form.twig" %}
					
				</div>
			</div>

			<div class="header__bottom-rightside">
				{% include "blocks/profile/profile.twig" %}
			</div>
		</div>

		<div class="header__nav">
			<ul class="header__nav-list">
				<li class="header__nav-list-item">
					<a href="#" class="header__nav-link">
						{% include '/assets/svg/burger.svg' %}
						<span>Каталог</span>	
					</a>
				</li>
				<li class="header__nav-list-item">
					<a href="#" class="header__nav-link">
						<span>Авторы</span>
					</a>
				</li>
				<li class="header__nav-list-item">
					<a href="#" class="header__nav-link">
						<span>Новинки</span>
					</a>
				</li>
				<li class="header__nav-list-item">
					<a href="#" class="header__nav-link header__nav-link--red-link">
						{% include '/assets/svg/sale.svg' %}
						<span>Скидки</span>
					</a>
				</li>
				<li class="header__nav-list-item">
					<a href="#" class="header__nav-link">
						<span>Партнёрам</span>
					</a>
				</li>
				<li class="header__nav-list-item">
					<a href="#" class="header__nav-link">
						<span>Мы</span>
					</a>
				</li>
			</ul>
		</div>
	</div>



	<div class="header__mobile container">

		<div class="header__mobile-burger">
			{% include '/assets/svg/burger.svg' %}				
		</div>

		<div class="header__mobile-logo">
			{% include "blocks/logo/logo.twig" %}
		</div>

		<div class="header__mobile-search-form">
			{% include "blocks/search-form/search-form.twig" %}
		</div>


		<div class="header__mobile-cart header__mobile-cart--count">
			{% include '/assets/svg/cart.svg' %}
		</div>

	</div> 

</header>
