.header__mobile
{
	display: none;

	@media (max-width: 768px)
	{
		display: flex;
		align-items: center;
	}
}

.header__mobile-burger {margin-right: 15px;}

.header__mobile-logo
{
	margin-right: 20px;
}

.header__mobile-search-form
{
	margin-right: 16px;
	width: 100%;
}


.header__mobile-cart
{
	height: 25px;
	width: 25px;
	position: relative;

	&--count::after
	{	
		content: "10";
		position: absolute;
		top: -9px;
		left: 14px;
		width: 20px;
		height: 20px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		background-color: #ff7a00;
		font-family: Roboto,sans-serif;
		font-weight: 500;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
		color: #fff;
	}

	.cart-icon
	{
		width: 25px;
		height: 25px;
	}
}